var/
parts/
lib/
include/
eggs/
develop-eggs/
downloads/
/data/
etc/
bin/
sandbox/
openerp_*
openerp-*
odoo-repos/
.installed.cfg
.idea
upgrade.py
*.log
*.pyc
atlassian-ide-plugin.xml
*~
devel_*
*.pidb
*.userprefs
*.db
*.mo
*.pot
