[buildout]
extends  = base-only-odoo.cfg versions.cfg odoo.cfg
bin-directory = ${buildout:directory}/bin
config-directory = ${buildout:directory}/etc
templates-directory = ${buildout:directory}/templates
versions = versions


parts +=
    env
    py
    openerp
    postgres
    psycopg2
    supervisor
    postgres-conf
    pg-hba-conf
    pg-ident-conf
    scripts
    supervisor-cron
    initdb
find-links =

extensions = mr.developer
auto-checkout = *
sources-dir = eggs-custom

eggs +=

[sources]
pychart = git https://github.com/Infinite-Code/PyChart
